# Tuple

- This is exactly like list but its immutable.
- Its read only mode of list.

In [2]:
t=(10,20,30,50,60)
type(t)

tuple

In [4]:
# t.append[20]
t[0]

10

# Range data type

- This will represent the a sequence on numbers.
- The elements which will be presented in range  they will be not modifiable.
- Immutable

In [5]:
a=range(10)

In [6]:
a

range(0, 10)

In [7]:
for i in a:
    print(i)

0
1
2
3
4
5
6
7
8
9

In [8]:
b=range(0,10)
for i in b:
    print(i)

0
1
2
3
4
5
6
7
8
9

In [9]:
c=range(2,22,2)
for i in c:
    print(i)

2
4
6
8
10
12
14
16
18
20

In [10]:
c[0]

2

In [13]:
# Item assignment is not possible in range
# c[1]=20

In [14]:
l=list(range(5,51,5))
print(l)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [16]:
t=tuple(range(3,35,3))
print(t)

(3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33)

# Set Data type

- when we want to represent a group of values without duplicate.
- when order is not important then we go for set data type.
1. Insertion order is not preserved 
2. Duplicates are not allowed.
3. Hetrogenuous objects are allowed.
4. index concept is not applicable in set.
5. It is mutable.
6. Growable in nature.
7. we enclosed in {}.

In [17]:
s={10,23.5,5+9j,"Nihan",True,10}
print(s)

{(5+9j), True, 'Nihan', 23.5, 10}

In [19]:
#s[0]

In [22]:
s.add(50)
print(s)

{(5+9j), True, 50, 'Nihan', 23.5, 10}

In [23]:
s.remove(10)
print(s)

{(5+9j), True, 50, 'Nihan', 23.5}

# Frozenset Data type

- It is exactly same as set.
- It is immutable.
- add() and remove() will not work here.

In [24]:
print(s)

{(5+9j), True, 50, 'Nihan', 23.5}

In [26]:
f=frozenset(s)
print(type(f))

<class 'frozenset'>

In [27]:
for i in f:
    print(i)

(5+9j)
True
50
Nihan
23.5

# Dictionary Data type

- If we want to represent a group of values as key pair from i.e.dict.

In [28]:
d={101:"Nihan",102:"vinay",103:"Nihan"}
print(d)

{101: 'Nihan', 102: 'vinay', 103: 'Nihan'}

In [29]:
food_item={"starter":"chicken65","chicken":"Briyani"}
print(food_item)

{'starter': 'chicken65', 'chicken': 'Briyani'}

- key: value
- key is number then it will not be in ''/"".
- but if it is string the key should be in ''/"".
- value wiil be''/"".
- key cannot be same but value will be same.

In [30]:
d={101:"Nihan",101:"Nihan",103:"vinay"}
print(d)

{101: 'Nihan', 103: 'vinay'}

In [31]:
food_item["Fullmeal"]="Butter chicken"
print(food_item)

{'starter': 'chicken65', 'chicken': 'Briyani', 'Fullmeal': 'Butter chicken'}

In [32]:
bd={}
print(type(bd))

<class 'dict'>

# None Data type

- None means Nothing ,not even zero(o),no value associated with it.

In [37]:
def m1():
    a=10
print(m1())

None